.header {
  max-width: 100%;
  padding: 35px 120px;
  margin: 0 auto;
  background-color: #121621;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 76px;
}

.header-menu a {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
  color: #c4c4c3;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hamb {
  display: none;
}

@media (max-width: 1300px) {
  img {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px 20px;
    display: block;
    color: #c4c4c3;
    text-decoration: none;
  }

  .header {
    max-width: 100%;
    padding: 30px 100px;
    margin: 0 auto;
    background-color: #121621;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    .header {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
    }
  }

  @media (max-width: 650px) {
    .header-menu {
      display: none;
    }
  }
}
